@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /*font-size*/
    --fs-sm: 14px;
    --fs-1sm: 14px;
    --fs-2sm: 22px;
    --fs-3sm: 28px;
    --fs-md: 36px;
    --fs-lg: 44px;
    --fs-1lg: 46px;
    --fs-2lg: 30px;
    --fs-3lg: 52px;
    /*font-family*/
    --ff-poppins: 'Poppins', sans-serif;
    /*font-weight*/
    --fw-4: 400;
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    /*color*/
    --orange: #F06500;
    --black: #0C0B0B;
    --white: #FFF;
    --light1: #B8B8B8;
    --brown: #1D1A1A;
    --brown1: #151313;
    --green: #00E396;
    --purple: #8B35E2;
    --skyblue: #00B2FF;
    --yellow: #FFA800;
    --pink: #FF4560;
}

.bg-green {
    background-color: var(--green);
}

.bg-purple {
    background-color: var(--purple);
}

.bg-skyblue {
    background-color: var(--skyblue);
}

.bg-yellow {
    background-color: var(--yellow);
}

.bg-pink {
    background-color: var(--pink);
}

.bg-brown1 {
    background-color: var(--brown1);
}

.bg-brown {
    background-color: var(--brown);
}

.fw-4 {
    font-weight: var(--fw-4);
}

.fw-5 {
    font-weight: var(--fw-5);
}

.fw-6 {
    font-weight: var(--fw-6);
}

.fw-7 {
    font-weight: var(--fw-7);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-1sm {
    font-size: var(--fs-1sm);
}

.fs-2sm {
    font-size: var(--fs-2sm);
}

.fs-3sm {
    font-size: var(--fs-3sm);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-1lg {
    font-size: var(--fs-1lg);
}

.fs-2lg {
    font-size: var(--fs-2lg);
}

.fs-3lg {
    font-size: var(--fs-3lg);
}

.poppins {
    font-family: var(--ff-poppins);
}

.font-black1 {
    color: var(--black);
}

.bg-black1 {
    background-color: var(--black);
}

.font-orange {
    color: var(--orange);
}


.bg-orange {
    background-color: var(--orange);
}

.font-white {
    color: var(--white);
}

.bg-white {
    background-color: var(--white);
}

.font-light1 {
    color: var(--light1);
}

.bg-light1 {
    background-color: var(--light1);
}

@media (min-width:370px) {
    :root {
        /*font-size*/
        --fs-sm: 14px;
        --fs-1sm: 16px;
        --fs-2sm: 22px;
        --fs-3sm: 28px;
        --fs-md: 36px;
        --fs-lg: 44px;
        --fs-1lg: 46px;
        --fs-2lg: 35px;
        --fs-3lg: 52px;
    }
}

@media (min-width:576px) {
    :root {
        /*font-size*/
        --fs-sm: 14px;
        --fs-1sm: 16px;
        --fs-2sm: 22px;
        --fs-3sm: 28px;
        --fs-md: 36px;
        --fs-lg: 44px;
        --fs-1lg: 46px;
        --fs-2lg: 46px;
        --fs-3lg: 74px;
    }
}

@media (min-width:768px) {
    :root {
        /*font-size*/
        --fs-sm: 14px;
        --fs1sm: 16px;
        --fs-2sm: 22px;
        --fs-3sm: 28px;
        --fs-md: 36px;
        --fs-lg: 44px;
        --fs-1lg: 46px;
        --fs-2lg: 46px;
        --fs-3lg: 96px;
    }
}

@media (min-width:992px) {
    :root {
        /*font-size*/
        --fs-sm: 14px;
        --fs1sm: 18px;
        --fs-2sm: 22px;
        --fs-3sm: 28px;
        --fs-md: 36px;
        --fs-lg: 44px;
        --fs-1lg: 46px;
        --fs-2lg: 48px;
        --fs-3lg: 74px;
    }
}

@media (min-width:1200px) {
    :root {
        /*font-size*/
        --fs-sm: 14px;
        --fs1sm: 18px;
        --fs-2sm: 22px;
        --fs-3sm: 28px;
        --fs-md: 36px;
        --fs-lg: 44px;
        --fs-1lg: 46px;
        --fs-2lg: 48px;
        --fs-3lg: 89px;
    }
}